@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:400'");

body {
	font-family: "Inter", sans-serif;
}

.separator {
	border-right: 1px solid black !important;
}

.kai {
	padding-right: 10px;
}

.tab-content {
	position: relative;
}

.important {
	color: #FF0000;
}
.atb {
	color: #FFA500;
}
.alt {
	color: #6a0dad;
}
.satb {
	color: #4169e1;
}

sup {
	font-size: 0.6em;
}